.pessoaContainer{
    
    font-family: 'Times New Roman', Times, serif;
    

}

.pessoaContainer p{

   font-size: 22px;
   margin: 15px 0;
   max-width: 550px;
   letter-spacing: 2px;
   text-align: left;
}



